@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');

:root {
  --hard: #56c596;
  --main: #7be495;
  --soft: #cff402;
  --danger: #ff5555;
}

html[theme="dark"] {
    --background: #171717;
    --foreground: #f1f7ef;
}
html[theme="light"] {
    --background: #f1f7ef;
    --foreground: #171717;
}

*
{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "Cairo", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
  direction: rtl;
}

body::-webkit-scrollbar 
{
  width: 10px;
  

}
body::-webkit-scrollbar-track {
  background: grey;
  visibility: none;
  transition: all 0.3s ease;
}
body::-webkit-scrollbar-track:hover {
  visibility: visible;
}
body::-webkit-scrollbar-thumb {
  background: var(--main);
  border-radius: 5px;
  cursor: pointer;
}

header.hide{
  transform: translateY(-100%);
}
 @keyframes appearPopup {
  from{transform: translateY(20px) ;}
  to{transform: translateY(0px) ;}
 }